footer {
    background-color: #d0e8ff; 
    padding: 15px 0;
    text-align: center;
    color: #000000;
    font-size: 0.9rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  footer p {
    margin: 0;
    font-size: 1.1em;
  }
  